.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  place-items: center;
}

.nav-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-center{
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
.nav-icon{
  width: 60px;
  height: 40px;
  padding: auto;
  margin: auto;
  margin-right: 3px;
}
.nav-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-button{
  white-space: nowrap;
  margin: 5%;
  padding: 7%;
  width: fit-content;
  color: white;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 2em;
  padding: 1%;
}

.board h5 {
  margin: 1%;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  /* font-size: 45px; */
}


.board {
  width: 100vw;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board-component {
  width: 600px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}


.block {
  flex: 33%;
  height: 100%;
  border: 2px solid grey;
  border-radius: 8px;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#rightplace {
  background-color: #528d4e;
}

#almostrightplace {
  background-color: #b49f39;
}

#wrongplace {
  background-color: #575658;
}

.keyboard {
  width: 700px;
  /* height: 300px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.line1 {
  flex: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}


.key {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}

.modal{
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal-data {
  text-align: center;
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.modal-button{
  display: inline-block;
}
.modal-button-b{
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

.rules ul{
  text-align: left;
}

.example{
  background-color: #303030;
  color: white;
  padding: 1%;
  padding-left: 5%;
  margin-right: 15%;
}

.color-example{
  padding: 1%;
  padding-left: 5%;
  margin-right: 22%;
}

.block-rule {
  flex: 33%;
  height: 100%;
  width: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.overlay{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}


.css-79elbk {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}